<section>
    <nav class="header-nav">
        <img src="../../../assets/logo.png" alt="logoAp" class="header-logo">
        <ul class="Redes">
            <li><a href="#" class="nav-link">Inicio</a></li>
            <li><a href="https://www.instagram.com/noqui_adopciones/" class="nav-link">Instagram</a></li>
            <li><a href="https://github.com/DianaNogales" class="nav-link">GitHub</a></li>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
        </ul>
    </nav>
</section>