.curriculum{
    background-color: rgb(32 33 36);
    color: white;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: monospace;
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: revert;
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252A2e;
}




@media screen and (max-width:700px) {
    .curriculum .fila{
        display: block;
    }
    
    .curriculum .fila .col{
        width: 90%;
    }

    .curriculum .fila .derecha{
        margin-left: 20px;
    }
}

                
                
.conteiner-title{
    display: flex;
    justify-content: space-between;
}

.botton{
    background: #0c7a7a;
    font-size: 20px;
    color: white;
    border: navajowhite;
    margin-left: 5px;
    
}

