<div class="colorXD">

<section id="portafolio">
    <h3 class="titulo-seccion">Mis Proyectos</h3>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo1.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo2.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo3.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

    </div>
    
    <div class="fila"> 
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo4.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo5.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/fondo6.jpg" alt="" id="fondo">
            <div class="info">
                <h4>Descripcion Del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>

    </div>

        
    
</section>

</div>