<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Tecnico -->

            <div class="col">
    <h3>FrontEnd</h3>
        <div class="skill">
            <span>JavaScript</span>
            <div class="barra-skill">
                <div class="progreso javascript">
                    <span>60%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>HTML & CSS</span>
            <div class="barra-skill">
                <div class="progreso htmlcss">
                    <span>80%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>React</span>
            <div class="barra-skill">
                <div class="progreso react ">
                    <span>50%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>Angular</span>
            <div class="barra-skill">
                <div class="progreso angular ">
                    <span>70%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>TypeScript</span>
            <div class="barra-skill">
                <div class="progreso typescript">
                    <span>40%</span>
                </div>
            </div>
        </div>

        
        
            </div>

            <!-- Profesional -->

            <div class="col">
    <h3>BackEnd</h3>
        <div class="skill">
            <span>Java</span>
            <div class="barra-skill">
                <div class="progreso java">
                    <span>50%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>Python</span>
            <div class="barra-skill">
                <div class="progreso python">
                    <span>70%</span>
                </div>
            </div>
        </div>


        <div class="skill">
            <span>Spring Boot</span>
            <div class="barra-skill">
                <div class="progreso spring">
                    <span>40%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>Express.js</span>
            <div class="barra-skill">
                <div class="progreso express">
                    <span>40%</span>
                </div>
            </div>
        </div>

        <div class="skill">
            <span>MySQL/NoSQL</span>
            <div class="barra-skill">
                <div class="progreso mysql">
                    <span>60%</span>
                </div>
            </div>
        </div>


        
            </div>

        </div>

        
    </div>


</section>
