<div id="wrapper">
    <div class="row">
        <div id='block1' class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../../../assets/noqui.jpg" alt="" class="img-fluid" id="fotodeperfil">
            <div>
                <p id="nombre">{{persona.nombre}} Diana Nogales{{persona.apellido}}</p>
                <p id="rol">Full Stack Developer Jr</p>
            </div>
        </div>
        <div id='block2' class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
            <h1 id="titulo">Acerca de mi<span>:</span></h1>
            <p id="letra">Soy rescatista y tengo mi propio hogar de transito. Mi vida diaria se ve enriquecida por el amor y el cuidado de los gatos rescatados que albergo. Mi formación en programación complementa mi altruista labor, aportando lógica y estructura a mi mundo de tiernas criaturas. Cada día, equilibro mi tiempo entre la codificación y el cariño hacia mis felinos, lo que refuerza mi compromiso con la tecnología y la protección animal. Mi existencia es un constante aprendizaje y un abrazo a la empatía.</p>
        </div>
    </div>
</div>